#maindiv1 {
     
      
    width: 50%;
    float: left;
    height: 100%;
    


  }
  
  #div2 {
      
    width: 49%;
    float: right;
    height: 91.2%;
    background-color: rgb(245, 225, 8);
   
   
   
    
  }
 

#html-code{
background-color:#D3D3D3;
height: 28%;
width: 100%;
color:blue; 


}

#css-code{
  
height: 28%;
width: 100%;
background-color:#D3D3D3;
color:blue; 




}
#js-code{
  background-color:#D3D3D3;
color:blue; 
height: 28%;
width: 100%;


}
#output-code{
 width: 100%;
 height: 100%;
 background-color: white;
 border-width: 2px;
 margin-left: 0;
 margin-bottom: 0;
}
#h{
  font-family:Calibri;
   
}
#c{
  font-family:Calibri; 
  background-color: rgb(245, 225, 8);
}
#j{
  font-family:Calibri;
  background-color: rgb(245, 225, 8); 
}
h3{
  font-family:Calibri;
  align-items: center; 
  margin-left: 40%;
  
}
#out{

  font-family:Calibri; 
  background-color: rgb(245, 225, 8);
}
body{
  background-color: rgb(245, 225, 8);
}